[

%%
%% client ring specification
{ambitz, [
   %%
   %% configuration of ring 
   {ring, [
      {type, ring}            %% ring management algorithms - chord | ring
     ,{m,      64}            %% ring modulo
     ,{q,    4096}            %% number of shards
     ,{n,       2}            %% number of replica
     ,{hash,  sha}            %% hashing algorithm
   ]},
   
   %%
   %% list of seed nodes
   {seed,      ['a@127.0.0.1']}
]}

].